html, body {
  height: 100%;
  /*background-color: #eee;*/
  margin-top: 24px;
}

.list-product {
  height: 100%;
  background-color: #ff80ab;
}

.panel {
  height: 100%;
  border: solid 2px #333;
  background-color: #ffff8d;
}

div {
  border: solid 1px #339;
}

.product {
  width: 180px;
  height: 180px;
  background-color: #b9f6ca;
  position: relative;
  padding: 10px;
}

.product img {
  width: 160px;
  height: 120px;
  opacity: 0.7;
}

.product h4 {
  padding: 5px;
  padding-left: 10px;
  margin-top: 0px;
}

.product-label {
  position: absolute;
  top: 130px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(60,60,60,0.7);
  width: 100%;
  font: bold Helvetica, Sans-Serif;
  color: white;
  padding: 10px
}